vm-freebsd-FreeBSD-aarch64-13.1.conf
vm-freebsd-FreeBSD-aarch64-13.2.conf
vm-freebsd-FreeBSD-bsdinstall-jail.conf
vm-freebsd-FreeBSD-from-jail.conf
vm-freebsd-FreeBSD-riscv64-13.1.conf
vm-freebsd-FreeBSD-riscv64-13.2.conf
vm-freebsd-FreeBSD-x64-13.2.conf
vm-freebsd-cloud-XigmaNAS-13-amd64.conf
vm-linux-cloud-Parrot-5-amd64.conf
vm-other-FreeDOS.conf
vm-other-Redox-0.7.conf
vm-windows-10_86x_64x.conf
vm-windows-11_86x_64x.conf
vm-windows-cloud-windows-ru-10_x86_64.conf
vm-freebsd-FreeBSD-img-aarch64-13.2.conf
vm-windows-7_86x_64x.conf
vm-freebsd-fio.conf
vm-linux-RosaVirt-3.conf
vm-linux-Red7.conf
vm-linux-Astra-x86.conf
vm-linux-cloud-Space-x86-11.conf
vm-linux-cloud-OYOS-202503.conf
