vm-freebsd-FreeBSD-bsdinstall-jail-x86_64.conf
vm-freebsd-FreeBSD-from-jail-x86_64.conf
vm-windows-cloud-windows-ru-10_x86_64.conf
vm-freebsd-fio.conf
vm-linux-cloud-Space-x86-11.conf
vm-linux-cloud-OYOS-202503.conf
vm-other-FreeDOS-x86_64.conf
vm-windows-10_86x_64x-x86_64.conf
vm-windows-11_86x_64x-x86_64.conf
vm-windows-7_86x_64x-x86_64.conf
